* {
     margin: 0;
     padding: 0;
     height: auto;
}

body {
     font-family: 'Ubuntu', sans-serif;
     margin: 0 !important;
}

p {
     font-family: 'Ubuntu', sans-serif;

}

.h {
     font-family: Work Sans;
}

h2 {
     font-size: 25px !important;
}

.kyc-grid-col {
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     top: 50px;
}

.kyc-section {
     background: linear-gradient(112deg, #01204C 2.86%, #1A6CE0 87.34%);
     height: 608px;
}

.kyc-section-1-htag {
     color: #ffffff;
     font-size: 55px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     display: flex;
     justify-content: start;
     padding: 59px 59px 1px 59px;
}

.kyc-head-content {
     display: grid;
     grid-template-columns: auto auto;
}

.kyc-img-vector {
     display: flex;
     height: 449px;
     width: 1411px;
     transform: rotate(181deg);
     justify-content: end;
     align-items: center;
     flex-shrink: 0;
     position: absolute;
     z-index: 1;
     margin-top: -63px;
     margin-left: 612px;
}

.kyc-card-group-img {
     display: flex;
     justify-content: center;
}

.kyc-card {
     height: 24em !important;
     width: 320px;
     padding: 15px;
     box-shadow: 0px 0px white;
     top: 30px;
}

.kyc-card:hover {
     cursor: pointer;
     margin-top: -50px;
     box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
     transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.kyc-para {
     color: white;
     padding-left: 148px;
     font-size: 20px;
}

.kyc-circle-img {
     position: relative;
     margin-top: -17px;
     margin-left: 99px;
     width: 100px;
     height: 80px;

}

.kyc-section-2 {
     padding-bottom: 300px;
}

.OS-img-vector {
     display: flex;
     height: 449px;
     width: 578px;
     margin-top: -188px;
     transform: rotate(0deg);
     justify-content: end;
     align-items: center;
     flex-shrink: 0;
     position: absolute;
     z-index: 1;
     margin-left: 758px;
}

.OS-para {

     color: white;
     padding-left: 148px;
     font-size: 20px;
}
.OS-below-div{
     padding-bottom: 120px;
}
@media screen and (max-width:600px) {
     .kyc-section-1-htag {
          font-size: 26px;
          padding: 0 0 0 30px;
     }
     .OS-below-div{
          padding-bottom: 0;
     }
     .kyc-section-2 {
          display: none;
     }
     .OS-para {
          color: white;
         padding: 40px 0 0 0;
         
          font-size: 20px;
     }
    
     .container-fluid {
          padding: 27px 0px 90px 0;
     }

     .kyc-para {
          padding: 20px 0 0 0;
     }

     .kyc-card {
          padding-top: 0px;
     }

     .kyc-grid-col {
          padding-top: 30px;
     }

     .kyc-circle-img {
          margin: 0;
          position: relative;
          margin-top: 0px;
          margin-left: 105px;

     }

     .kyc-section {
          height: auto;
     }
}